.proxy-container {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  align-items: stretch;
}

.proxy-main {
  max-width: 75%;
}

.proxy-order {
  order: 1;
}

.proxy-order-img {
  top: 10%;
  position: fixed;
}

